<div class="entry">
  {{!-- {{#if}} --}}
  <h1>{{beer}}</h1>
  {{!-- {{/if}} --}}
  {{#if abv}}
  <h2>ABV: {{abv}}</h2>
  {{/if}}
  {{#if style}}
  <h2>Style: {{style}}</h2>
  {{/if}}
  {{#if brewery.title}}
  <h2>Brewery: {{brewery.title}}</h2>
  {{/if}}
</div>
