<div class="rating" data={{id}}>
    <h1>{{beer.name}}
    <h1>{{score}}</h1>
    <p style="color:gray">{{desc}}</p>
    <button class="btn btn-default navbar-btn update-rating" id='update-rating' data-target="#update-rating-modal" data-toggle="modal" type="button">Update Rating</button>
    <button class="btn btn-default navbar-btn delete" id='delete-rating' data-target="#delete-modal" data-toggle="modal" type="button">Delete</button>
</div>
