$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url('http://bgfons.com/upload/beer_texture1958.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
  background-image: url('http://bgfons.com/upload/beer_texture1958.jpg');
  background-repeat: repeat-x;
	border: none;
}

.rating-listing {
	color: white;

}
